{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appointment Calendar</h1>
    <div class="calendar">
        <a href="{{ path('app_calendar') }}">View Calendar</a>
    </div>

    <h2>Book Appointment</h2>
    <form class="appointment-form" method="POST" action="{{ path('save_appointment') }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
